## Mengtong Hu mengtong@umich.edu

In [118]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
import scipy.stats as stats
import matplotlib.pyplot as plt
from matplotlib import rcParams

## Qestion 0 - Topics in Pandas

### Windowing Operations

- an operation that perfroms an aggregation over a sliding
  partition of values on Series or DataFrame, similar to `groubby`.

### Windowing Operations

- Specify the window=n argument in `.rolling()` for the window size. 
- After specifiying the window size, apply the appropriate
  statistical function on top of it. Examples of statistical
  functions include: `.sum()`, `.mean()`, `.median()`, `.var()`, `.corr()`.
- If the offest is based on a time based column such as 'window = "2D"', the correspond
    time based index must be monotonic.
- The example below computes the sum of 'A' for previous 2 days

In [2]:
df = pd.DataFrame(np.arange(10),
   index = pd.date_range('1/1/2000', periods=10),
   columns = ['A'])
df['default sum'] = df['A'].rolling(window=3).sum()
df

            A  default sum
2000-01-01  0          NaN
2000-01-02  1          NaN
2000-01-03  2          3.0
2000-01-04  3          6.0
2000-01-05  4          9.0
2000-01-06  5         12.0
2000-01-07  6         15.0
2000-01-08  7         18.0
2000-01-09  8         21.0
2000-01-10  9         24.0

### Windowing Operations

- The closed parameter in `.rolling()` is used to decide the inclusions
    of the interval endpoints in rolling window 
    - 'right' close right endpoint
    - 'left' close left endpoint
    - 'both' close both endpoints
    - 'neither' open endpoints

In [3]:
offset = '2D'
df["right"] = df.rolling(offset, closed="right").A.sum()  # default
df["both"] = df.rolling(offset, closed="both").A.sum()
df["left"] = df.rolling(offset, closed="left").A.sum()
df["neither"] = df.rolling(offset, closed="neither").A.sum()
df

            A  default sum  right  both  left  neither
2000-01-01  0          NaN    0.0   0.0   NaN      NaN
2000-01-02  1          NaN    1.0   1.0   0.0      0.0
2000-01-03  2          3.0    3.0   3.0   1.0      1.0
2000-01-04  3          6.0    5.0   6.0   3.0      2.0
2000-01-05  4          9.0    7.0   9.0   5.0      3.0
2000-01-06  5         12.0    9.0  12.0   7.0      4.0
2000-01-07  6         15.0   11.0  15.0   9.0      5.0
2000-01-08  7         18.0   13.0  18.0  11.0      6.0
2000-01-09  8         21.0   15.0  21.0  13.0      7.0
2000-01-10  9         24.0   17.0  24.0  15.0      8.0

### Windowing Operations
- `.apply()` function takes an extra func argument and performs self-defined rolling computations.